<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <br>
    <div class="container">
      <table class="table table-bordered text-center">
        <thead>
          <tr>
              <th class="text-center">Nome</th>
              <th class="text-center">Descrição</th>
              <th class="text-center">Preço</th>
              <th class="text-center">Quantidade</th>
          </tr>
        </thead>
        <tbody>
          <%= render @produtos  %>
        </tbody>
      </table>
    </div>
  </body>
</html>
