<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= nav_bar static: :top, brand: "Cakes", brand_link: root_url do %>
      <%= form_tag busca_produto_path,
                         method: :get,
                          class: "navbar-form" do %>
        <div class="form-group">
          <%= text_field_tag :nome, @nome_a_buscar, class: "form-control" %>
          <%= button_to "Buscar", nil, class: "btn-btn-default" %>
        </div>
      <% end %>
    <%   end %>
    <div class="container text-center">
      <% if flash[:notice] %>
        <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
      <% end %>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center">Nome do produto</th>
            <th class="text-center">Descrição</th>
            <th class="text-center">Preço</th>
            <th class="text-center">Quantidade</th>
          </tr>
        </thead>
        <%= render partial: "produto", collection: @produtos_por_nome %>
        <tbody>
        </tbody>
      </table>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nome do produto</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <br>
        <br>
        <tbody>
          <%= render partial: "produto", collection: @produtos_por_nome %>
        </tbody>
      </table>
      <%= link_to "Criar novo produto", new_produto_path, class: "btn btn-primary" %>
    </div>
  </body>
</html>
