<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <%= form_for @produto do |f| %>
  <div class="container">

    <% @produto.errors.full_messages.each do |message| %>
    <br>
    <div class="alert alert-danger" role="alert">
      <%= message %>
    </div >
    <% end %>

    <div class="form-group">
      <%= f.label :nome %> <br>
      <%= f.text_field :nome, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :quantidade %><br>
      <%= f.number_field :quantidade, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :descricao %><br>
      <%= f.text_area :descricao, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :preco %><br>
      <%= f.number_field :preco, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :departamento %>
      <%= f.collection_select :departament_id, @departamentos, :id, :nome %>
    </div>
    <br>
    <%= f.submit "Criar produto", class: "btn btn-primary " %>
  </div>
  <% end %>
</body>
</html>
